html{
  height:100%;
  body{
    height:100%;
    font-family: 'Roboto', sans-serif;
    .container-fluid{
      height:100%;
      .view-frame{
        height: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        .model{
          display: none;
        }
      }
    }
  }
}